.col-2-div {
  flex-direction: column;
}
.col-2-div ul {
  list-style-type: none;
}

.col-2-div a {
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(138, 184, 138);
  text-decoration: none;
}

.col-2-div .bth {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px solid grey;
}

.col-2-div .medieinstitutet {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px solid grey;
}

@media only screen and (max-width: 1000px) {
  .col-2-div {
    max-width: 70%;
    margin: auto;
  }
}
