.col-2-div {
  height: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 7% 10% 35% 5% 35% 8%;
  grid-template-areas:
    ". . . . ."
    ". . div2e . ."
    ". div2lib div2lib div2lib ."
    ". . . . ."
    ".  div2lim div2lim div2lim ."
    ". . . . .";
}

.col-2-div h2 {
  grid-area: div2e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-2-div .bth {
  grid-area: div2lib;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px solid grey;
}

.col-2-div .medieinstitutet {
  grid-area: div2lim;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 1px solid grey;
}
