#profile {
  /* background-color: #72705b62; */
}

.col-1-div {
  flex-direction: column;
  background-color: #00000012;
}
.col-1-div h4 {
  margin: 0.6rem 0rem;
}

.col-1-div .höna {
  grid-area: img;
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-1-div .höna img {
  height: auto;
  width: 55%;
}

@media only screen and (max-width: 1000px) {
  .about-div {
    flex-direction: column;
  }
}
@media only screen and (min-width: 1000px) {
  .about-div {
    justify-content: space-evenly;
  }
}
