.col-5-div {
  height: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 15% 30% 25% 20%;
  grid-template-areas:
    ". . . . ."
    ". . cont . ."
    ". mail linked face . "
    ". matext litext fatext ."
    ". cop cop cop .";
}

.col-5-div h2 {
  grid-area: cont;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-5-div p {
  grid-area: cop;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.col-5-div a {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.col-5-div a:hover {
  opacity: 0.8;
}
.col-5-div p {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.col-5-div a:nth-child(2) {
  grid-area: mail;
}

.col-5-div p:nth-child(3) {
  grid-area: matext;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.col-5-div a:nth-child(4) {
  grid-area: linked;
}

.col-5-div p:nth-child(5) {
  grid-area: litext;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.col-5-div a:nth-child(6) {
  grid-area: face;
}

.col-5-div p:nth-child(7) {
  grid-area: fatext;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
