#contact {
  background-color: #707373;
}

.col-5-div {
  flex-direction: column;

  h2 {
    margin-top: 4rem;
  }
}

.footer-div {
  display: flex;
  width: 80%;
  padding-top: 3rem;
}

.col-5-div p {
}

.footer-divs {
  flex-grow: 1;
  height: 12rem;
  width: 33.3%;
  background-color: #00000027;
}

.col-5-div a {
  text-decoration: none;
  color: black;
}

.col-5-div a:hover {
  opacity: 0.8;
}
