#contact {
  background-color: #e1e6e6;
}

.col-5-div {
  flex-direction: column;

  h2 {
    margin-top: 4rem;
  }
}

.gmail {
  display: block;
  background-image: url("./email.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 8rem;
  border-radius: 6px;
}

.github {
  display: block;
  background-image: url("./github-square.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 6.4rem;
  border-radius: 6px;
}

.linkedin {
  display: block;
  background-image: url("./linkedin.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 7.4rem;
  border-radius: 6px;
}

.footer-div {
  display: flex;
  width: 80%;
  padding-top: 3rem;
  border-radius: 10px;
}

.col-5-div p {
}

.footer-divs {
  flex-grow: 1;
  height: 10rem;

  background-color: #00000017;
}

.col-5-div a {
  text-decoration: none;
  color: black;
}

.col-5-div a:hover {
  opacity: 0.8;
}
