.App {
  height: 100%;
  width: 100%;
}
.max-width {
  max-width: 80%;
  margin: auto;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-content {
  padding: 3rem 5rem;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}
