.App {
  height: 100%;
  width: 100%;
}
.max-width {
  max-width: 80%;
  margin: auto;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding-content {
  padding: 5rem;
}
